services:
  app:
    build: .
    ports:
      - 3000:3000
    volumes:
      - .:/home/node/app
      - /home/node/app/node_modules

# com devcontainer da para desenvolver pq a pasta node_modules congela no container e sobe a aplicação la
# nao é uma boa solucao para desenvolvimento pq nao consigo desenvolver na minha maquina local
