services:
  web:
    build:
      args:
        # - NODEMON_VERSION=2.0.15
        - NODEMON_VERSION=${NODEMON_VERSION:-2.0.15}
      context: .
      dockerfile: Dockerfile.dev
    # command: tail -f /dev/null
    volumes:
      - .:/home/node/app
    # ports:
    #   - "3000:3000"
    env_file:
      - .env
      # - path: .env.override
      #   required: false
    depends_on:
      db:
        condition: service_healthy
        # restart: true
    # networks:
    #   - externalapi_default
    extra_hosts:
      - "host.docker.internal:host-gateway"

# o mysql poderia vir para o common
